<!DOCTYPE html>
<html>
<head>
<title>联系我们</title>
<style>
body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;
}
h1 {
text-align: center;
color: #333333;
}
p {
text-align: center;
color: #666666;
}
.contact-info {
margin-top: 20px;
}
</style>
</head>
<body>
<p class="contact-info">
    # 项目名称：CraftBBS

    ## 项目介绍
    CraftBBS 是一个开源项目，旨在替代现有的MCBBS网站，提供更加现代化和高效的服务体验。该项目由五位核心成员共同领导和维护，分别是：Minecraft乄Withs、PYmili、Cary0722、Frozen和link。
    
    ### 团队分工
    - **项目负责人**：Minecraft乄Withs、PYmili、Cary0722、Frozen、link
    
    #### 开发团队
    - **前端开发**：Minecraft乄Withs
      - **前端框架**：无
      - **前端语言**：HTML
    
    - **后端开发**：PYmili
      - **后端框架**：Flask
      - **后端语言**：Python
    
    - **搜索收录优化**：Frozen
    
    - **顾问与建议提供**：link
    
    #### 技术栈与基础设施
    - **网站服务器**：由Minecraft乄Withs提供并由5人维护
    - **Web服务器代理**：Nginx
    
    #### 版本控制与项目管理
    - **Git仓库管理**：Cary0722
    - **Git仓库地址**：[https://github.com/liuyufan130722/CraftBBS](https://github.com/liuyufan130722/CraftBBS)
    
    ## 最后编辑人
    - **最近更新**：Minecraft乄Withs
    
    ---
    
    请注意，CraftBBS项目持续发展与改进，敬请关注项目进展和更新动态。
  </p>

</body>
</html>